* {
 box-sizing: border-box;
}
 
body {
 font-family: "Roboto", sans-serif;
 margin: 0;
 padding: 0;
}
 
.logo > img {
 width: 50px;
}
 
header {
 
display:flex;
flex-direction: column;
align-items:center;
justify-content:space-evenly;
}
 
nav{
background-color:gray;
text-align:left;
margin-left: 10px;
}
 
ul {
 list-style:none;
}
 
.hamburger {
display:flex;
justify-content:flex-end;
}
 
main {
display: flex;
flex-direction: column;
padding: 5px;
 
}
 
.menu {
display:none;
 
}
 
.social {
 
 display:flex;
 flex-direction:row;
justify-content:space-around;
}
 

@media(max-width: 767px){

header{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:center;
}

.product{
	margin-bottom: 10px;
	padding: 7px;
	justify-content: center;
  	width: 500px;
  	text-align: left;
  	margin: auto;
  	border: 1px solid grey;
  	border-radius: 2px;
}

.main{
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 550px;
}

.cc{
	text-align: center;
}
.hamburger{
	color:#ffff;
}

header{
	display: flex;
	flex-direction: column;
	width:550px;
	margin: auto;
}

h1{
	justify-content: left;
	margin-right:15px;
}

footer{
	width:550px;
	margin:auto;
}

}

@media (min-width: 768px) and (max-width: 1020px){
 
header{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
 
}

.product{
	margin-bottom: 10px;
	padding: 7px;
	justify-content: center;
  	width: 600px;
  	text-align: left;
  	margin: auto;
  	border: 1px solid grey;
  	border-radius: 2px;
}

.main{
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 780px;
}

.cc{
	text-align: center;
}
.hamburger{
	color:#ffff;
}

header{
	width:780px;
	margin: auto;
}

h1{
	justify-content: left;
	margin-right:75px;
}

footer{
	width:780px;
	margin:auto;
}
 
}
 
@media(min-width: 1025px){
 
header{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
 
}
 
.menu {
display:flex;
flex-direction: row;
color: white;
justify-content: flex-end;
margin-left: 8px;
}

li{
	padding: 10px;
	margin-left: 8px;
}

nav{
	width:1150px;
	margin: auto;
}

.product{
	padding: 7px;
	justify-content: center;
  	width: 350px;
  	height: 275px;
  	text-align: left;
  	margin: auto;
  	border: 1px solid grey;
  	border-radius: 2px;
}

.main{
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 1080px;
}

.cc{
	text-align: center;
}

header{
	width:1150px;
	margin: auto;
}

h1{
	justify-content: left;
	margin-right:220px;
}

footer{
	width:1150px;
	margin:auto;
}

.hamburger{
	display:none;
}
 
}
